# Tipe Data Set

Tipe data set dalam bahasa python adalah tipe data yang tidak berurutan (`unordered`). Misalkan ada dua anggota yang sama dalam nilai set maka secara otomatis salah satu diantaranya akan menghilang atau dihapus, artinya tidak ditampilkan.

## Operasi Tipe Data Set

Salah satu kegunaan tipe data ini bisa digunakan untuk melakukan operasi himpunan matematika seperti irisan, gabungan dan lain-lain.

Tipe data set tidak memiliki index, hal ini yang membuat tidak adanya mekanisme pengurutan

## Penulisan Set

In [2]:
# Set dengan nilai campur
data = {1, 2, 3, 4, 5, "d", "e", "f", "g"}
print(data)
print(type(data))

# Set dengan nilai yang sama
x = {1, 2, 3, 4, 5, 1, 2, 3, 6, 7, 8}
print(x)

{1, 2, 3, 4, 5, 'd', 'e', 'f', 'g'}
<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8}

## Operasi Tipe Data Set

Banyak fungsi set yang bisa digunakan untuk melakukan operasi dengan menggunakan tipe data ini. Misalkan `add()` dan `update()` dll.

### Menambahkan Anggota

In [3]:
data = {"a", "b", "c", "d", 1, 2, 3, 4}
print(data)

# Tambahkan nilai 10 untuk anggota set dngn menggunakan fungsi add()
data.add(10)
print(data)

# Tambah nilai 11, 12, 13 dengan menggunakan fungsi update()
data.update([11, 12, 13])
print(data)

{'d', 2, 3, 4, 1, 'c', 'a', 'b'}
{'d', 2, 3, 4, 1, 10, 'c', 'a', 'b'}
{'d', 2, 3, 4, 1, 10, 11, 'c', 12, 13, 'a', 'b'}

### Menghapus Nilai

Untuk menghapus kita akan menggunakan `remove()` dan `discard()`

In [4]:
data = {'a','b','c','d',1,2,3,4}
print (data)
 
# menghapus anggota menggunakan fungsi remove()
data.remove(3)
print(data)
data.remove(5)
print(data)

{'d', 2, 3, 4, 1, 'c', 'a', 'b'}
{'d', 2, 4, 1, 'c', 'a', 'b'}

KeyError: 5

In [5]:
data = {'a','b','c','d',1,2,3,4}
print (data)
 
# menghapus anggota menggunakan fungsi discard()
data.discard(3)
print(data)
data.discard(5)
print(data)

{'d', 2, 3, 4, 1, 'c', 'a', 'b'}
{'d', 2, 4, 1, 'c', 'a', 'b'}
{'d', 2, 4, 1, 'c', 'a', 'b'}

## Operasi Himpunan

Contoh: irisan, gabungan, dan selisih

### Operasi Gabungan

In [6]:
data1 = {1, 2, 3}
data2 = {1, 4, 6, 7}

# Menggunakan tanda 
print(data1 | data2)

# Menggunakan fungsi union
data3 = data1.union(data2)
print(data3)

{1, 2, 3, 4, 6, 7}
{1, 2, 3, 4, 6, 7}

### Operasi Irisan

In [8]:
data1 = {1, 2, 3}
data2 = {1, 4, 6, 7, 3}

# Menggunakan tanda `&`
print(data1 & data2)

# Menggunakan fungsi intersection
data3 = data1.intersection(data2)
print(data3)

{1, 3}
{1, 3}

### Operasi Selisih

In [9]:
data1 = {1, 2, 3}
data2 = {1, 4, 6, 7, 3}

print(data1 - data2)

# Menggunakan fungsi difference
data3 = data1.difference(data2)
print(data3)

{2}
{2}

# Operasi Komplemen

In [13]:
data1 = {1, 2, 3}
data2 = {1, 4, 6, 7, 3}

print(data1 ^ data2)

data3 = data1.symmetric_difference(data2)
print(data3)

{2, 4, 6, 7}
{2, 4, 6, 7}

## Latihan

Tulis program Python untuk mengembalikan set baru dengan item unik dari kedua set dengan menghapus duplikat.

Contoh:

`Input`

```python
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
```

`Output`

```python
{70, 40, 10, 50, 20, 60, 30}
```